<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <!-- // In this context '~' refers to the wwwroot folder -->
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="wrapper">
            <div class=navbar>
                <a href="/" class="navlink">Home</a>
                <a href="/projects" class="navlink middle">Projects</a>
                <a href="/contact" class="navlink">Contact</a>
            </div>
            <h1>Michael White</h1>
            <img src="~/img/headshot.jpg" width="400" height="500"><br>
            <div class="descbox">
                <h2>About Me</h2> <br>
                <p>Hello, and thank you for taking the time to visit my portfolio! My name is Michael White. 
                    I am 23 years old, and I am currently a student at
                    CodingDojo as an aspiring web developer. While my proficiency currently lies in Python
                    and its Django framework, I am also learning C# and the use of ASP.NET Core for web development. 
                    In the future I intend to take the MEAN stack at CodingDojo in order to further diversify my 
                    skills as a developer. 
                </p>
            </div>
        </div>
    </body>
</html>