<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="wrapper">
            <div class=navbar>
                <a href="/" class="navlink">Home</a>
                <a href="/projects" class="navlink middle">Projects</a>
                <a href="/contact" class="navlink">Contact</a>
            </div>
            <div class="box">
                <h3>Terminal Card-based Battle</h3>
                <img src="~/img/terminalspire.png" width="275" height="275">
                <p>Terminal Card-based Battle is a short game built in C#/.NET that takes place inside of your 
                    computer's terminal. Inspired by the game Slay the Spire by MegaCrit, this game uses a combat 
                    system in which player draws cards from a standard 52-card deck, then plays them to deal damage 
                    to enemy monsters! This project was made in collaboration with 3 other people. The project can be 
                    found <a href="https://github.com/thydev/deckcards" >here</a>.
                </p>
            </div>
            <div class="box">
                <h3>Pingpong Score Simulator</h3>
                <img src="~/img/pingpong.png" width="275" height="200">
                <br><br>
                <p>Pingpong Score Simulator is a web-based Python app that can simulate the score of a game of pingpong 
                    between you and a computer opponent and track your results using graphs. As you play more games,
                    you gain experience and eventually increase in skill level, which is tracked by a number. This 
                    skill level determines what opponents you can play against, as well as your chances of winning
                    against those opponents. This game was made in collaboration with 2 other people. The project can 
                    be found <a href="https://github.com/python-ninjas/ping_pong_challenge">here</a>.
                </p>
            </div>
            <div class="box">
                <h3>Dojo Quotes</h3>
                <img src="~/img/quotes.png" width="275" height="200">
                <br><br>
                <p>Dojo Quotes is a web-based app in which a user can post new quotes as well as make a list of
                    favorite quotes. A user can freely add or remove quotes from this list of favorites. This 
                    project is the result of one of CodingDojo's belt exams, which is the final test of each stack. 
                    In this case, this was the belt exam of the Python stack. The project can be found 
                    <a href="https://github.com/engiemcwhite/quotes_exam">here</a>.
                </p>
            </div>
        </div>
    </body>
</html>